/*CODIGO EM CSS (ESTILOS)*/
.tabberlive .tabbertabhide {
display:none;
}

.tabber {

}
.tabberlive {
}

/* Estilo das abas */
ul.tabbernav{
}

ul.tabbernav li {
list-style: none;
margin: 0;
display: inline;
}

ul.tabbernav li a {

text-decoration: none;
}

ul.tabbernav li a:link { color: #ffffff;}
ul.tabbernav li a:visited { color: #ffffff; }

ul.tabbernav li a:hover{

}

ul.tabbernav li.tabberactive a {
background-color: #104d87;
color:#fff;
border-radius: 5px;
}

ul.tabbernav li.tabberactive a:hover{

}

.tabberlive .tabbertab {
 border-top:0px none;
}

.tabberlive .tabbertab h2 {
 display:none;
}

.tabberlive .tabbertab h3 {
 display:none;
}

.tabberlive#tab1 {}
.tabberlive#tab2 {}

.tabberlive#tab2 .tabbertab {
min-height:200px; /* Altura do conteúdo da aba */
 overflow:auto;
}